@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
